.catContainer {
    width: 19%;
    height: 423px;
    background: #191919;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.catContainer h2 {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.categoriesDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 230px;
}

.categoriesDiv p {
    font-weight: 500;
    font-size: 14px;
    color: #576067;
    cursor: pointer;
}

.navLink {
    text-decoration: none;
    color: inherit;
}