
.trendingContainer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    border-radius: 6px;
    background: #191919;
    margin-top: 19px;
}


.articleDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
    width: 100%;
    margin-bottom: 15px;
}

.articleDiv p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.cardsDiv{
    width: 100%;
    height: auto;
    padding: 0 22px 0 22px;
}